$color-main-blue: #4698ff;
$color-main-white: #e6e6e6;
$color-pure-white: #ffffff;
$color-main-gray-lighter: #f0f0f0;
$color-main-dark: #0a0a0a;
$color-font-gray: #606266;
$color-font-gray-lighter: #aaaaaa;
$size-font-mini: 10px;
$size-font-small: 12px;
$size-font-big: 16px;
$size-font-bigger: 20px;