.home {
    width: 100%;
    background-color: #f0f0f0;
    .data-list {
        width: 70%;
        margin: 20px auto;
        background-color: white;
        padding: 15px 80px;
    }
    .pagination{
        width: 70%;
        margin: 20px auto;
        .el-pagination{
            float:left
        }
    }
    .el-input__inner {
        width: 150px;
        height: 35px;
    }
}